{% macro form( form, aForm = {} ) %}
	<form id="{{ aForm.name }}_form" name="{{ aForm.name }}_form" action="{{ aForm.action }}" method="{{ aForm.method }}" class="orange-form {{ aForm.class }}">
		<div class="loading hidden"></div>
		<ul class="notices hidden">
			{{ _self.notices( form ) }}
		</ul>
		{{ _self.rows( form ) }}
	</form>
{% endmacro %}

{% macro row( form, name, aField = {}, aLabel = {}, aRow = {}  ) %}
	{% set aRow = aRow|merge( { 'class': 'form-group row ' ~ aRow.class } ) %}
	<div {{ _self.attrs( form.row(name), aRow ) }}>
		{{ _self.label( form, name, aLabel ) }}
		<div class="col-sm-5 field-container">
			{{ _self.field( form, name, aField ) }}
		</div>
		{{ _self.errors( form, name ) }}
	</div>
{% endmacro %}

{% macro rows( form ) %}
	{% for name,field in form.getFields() %}
		{% if field.type == 'HiddenType' or field.type == 'TokenType'  %}
			{{ _self.field( form, name ) }}
			{{ _self.errors( form, name ) }}
		{% else %}
			{{ _self.row( form, name ) }}
		{% endif %}
	{% endfor %}
{% endmacro %}

{% macro label( form, name, ao = {} ) %}
	{% set a = form.label(name) %}
	{% if a is empty %}
	{% else %}
	{% set ao = ao|merge( { 'class': 'col-sm-4 control-label ' ~ a.attrs.class } ) %}
	<label {{ _self.attrs( a.attrs, ao ) }}>{{ a.text }}{% if a.required %} <abbr class="required">*</abbr>{% endif %}</label>
	{% endif %}
{% endmacro %}

{% macro field( form, name, ao = {} ) %}
	{% set a = form.field(name) %}
	{% if a.type == 'radio' %}
		{{ _self.field_radio( a, ao ) }}
	{% elseif a.type == 'checkbox' %}
		{{ _self.field_checkbox( a, ao ) }}
	{% elseif a.type == 'select' %}
		{{ _self.field_select( a, ao ) }}
	{% elseif a.type == 'textarea' %}
		{{ _self.field_textarea( a, ao ) }}
	{% elseif a.type == 'submit' %}
		{{ _self.field_submit( a, ao ) }}
	{% else %}
		<input type="{{ a.type }}" name="{{ a.name }}" id="{{ a.id }}" value="{{ a.value }}" {{ _self.attrs( a.attrs, ao, 'form-control' ) }} {% if a.required %}required{% endif %} >
	{% endif %}
{% endmacro %}

{% macro field_radio( a, ao = {} ) %}
	{% set i = 0 %}
	<div class="field-choise-rachek-children">
		{% for key, choice in a.choices %}
			<label class="field-choise-rachek">
				<input type="radio" name="{{ a.name }}" id="{{ a.id }}_{{ i }}" value="{{ key }}" {{ _self.attrs( a.attrs, ao, 'form-control' ) }} {% if a.required %}required{% endif %} {% if key == a.value %}checked{% endif %} >
				{{ choice|raw }}
				<span class="rachek-icons"></span>
			</label>
			{% set i = 1 + i %}
		{% endfor %}
	</div>
{% endmacro %}

{% macro field_checkbox( a, ao = {} ) %}
	{% set i = 0 %}
	<div class="field-choise-rachek-children">
		{% for key, choice in a.choices %}
			<label class="field-choise-rachek">
				<input type="checkbox" name="{{ a.name }}" id="{{ a.id }}_{{ i }}" value="{{ key }}" {{ _self.attrs( a.attrs, ao, 'form-control' ) }} {% if a.required %}required{% endif %} {% if key == a.value %}checked{% endif %} >
				{{ choice|raw }}
				<span class="rachek-icons"></span>
			</label>
			{% set i = 1 + i %}
		{% endfor %}
	</div>
{% endmacro %}

{% macro field_select( a, ao = {} ) %}
	<select name="{{ a.name }}" id="{{ a.id }}" {{ _self.attrs( a.attrs, ao, 'form-control' ) }} {% if a.required %}required{% endif %} >
		{% for key, choice in a.choices %}
			<option value="{{key}}" {% if key == a.value %}selected{% endif %}>{{choice}}</option>
		{% endfor %}
	</select>
{% endmacro %}

{% macro field_textarea( a, ao = {} ) %}
	<textarea type="{{ a.type }}" name="{{ a.name }}" id="{{ a.id }}" {{ _self.attrs( a.attrs, ao, 'form-control' ) }} {% if a.required %}required{% endif %} >{{ a.value }}</textarea>
{% endmacro %}

{% macro field_submit( a, ao = {} ) %}
	<button type="submit" name="{{ a.name }}" id="{{ a.id }}" {{ _self.attrs( a.attrs, ao, 'btn' ) }}><span>{{ a.text }}</span></button>
{% endmacro %}

{% macro errors( form, name ) %}
	{% set e = form.errors( name ) %}
	<ul class="field-notices">
	{% for msg in e %}
		<li class="danger">{{ msg }}</li>
	{% endfor %}
	</ul>
{% endmacro %}

{% macro attrs( a, ao = {}, class = '' ) %}
	{% if a.class  %}
		{% set class = class ~ ' ' ~ a.class %}
	{% endif %}
	{% set a = a|merge( { 'class': class } ) %}

	{% if a.class %}
		{% if ao.class %}
			{% set class = a.class ~ ' ' ~ ao.class %}
			{% set ao = ao|merge( { 'class': class } ) %}
		{% endif %}
	{% endif %}

	{% set a = a|merge( ao ) %}

	{% for key, attribute in a %}
		{{ key }}="{{ attribute }}"
	{% endfor %}
{% endmacro %}

{% macro notices( form ) %}
	{% for notice in form.getNotices() %}
		<li class="{{ notice.type }}">{{ notice.msg }}</li>
	{% endfor %}
{% endmacro %}