{% import "form/fields.html.twig" as f %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Instalando Orange</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ asset('fonts/open-iconic.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/select2.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/orange.css') }}">
</head>
<body>
	<div class="container">
		<h1>Orange</h1>
		<p>Selecciona la configuración que deseas usar en Orange.</p>
		<form id="install" id="install" action="{{ url }}" method="post" class="orange-form" data-use-xml-http-request="false">
			<ul class="notices">			
				{{ f.notices( form ) }}
			</ul>
			<div id="settings-options" class="accordion">
				<div class="card">
					<div class="card-header">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#database-settings" aria-expanded="true" aria-controls="collapseOne">
							Base de datos
						</button>
					</div>

					<div id="database-settings" class="collapse show" aria-labelledby="headingOne" data-parent="#settings-options">
						<div class="card-body container-fluid">
							{{ f.row( form, 'db_host' ) }}
							{{ f.row( form, 'db_user' ) }}
							{{ f.row( form, 'db_pass' ) }}
							{{ f.row( form, 'db_database' ) }}
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#general-settings" aria-expanded="" aria-controls="collapseOne">
							Datos generales
						</button>
					</div>

					<div id="general-settings" class="collapse" aria-labelledby="headingOne" data-parent="#settings-options">
						<div class="card-body">
							{{ f.row( form, 'url_site' ) }}
							{{ f.row( form, 'admin_email' ) }}
							{{ f.row( form, 'no_reply_mail' ) }}
							{{ f.row( form, 'no_reply_mail_name' ) }}
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#dirs-settings" aria-expanded="" aria-controls="collapseOne">
							Directorios
						</button>
					</div>

					<div id="dirs-settings" class="collapse" aria-labelledby="headingOne" data-parent="#settings-options">
						<div class="card-body">
							{{ f.row( form, 'dir_srcs' ) }}
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#others-settingsmodules" aria-expanded="" aria-controls="collapseOne">
							Modulos
						</button>
					</div>

					<div id="modules" class="collapse" aria-labelledby="headingOne" data-parent="#modules">
						<div class="card-body">
							{{ f.row( form, 'modules' ) }}
							{{ f.row( form, 'libraries' ) }}
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#others-settings" aria-expanded="" aria-controls="collapseOne">
							Otras configuraciones
						</button>
					</div>

					<div id="others-settings" class="collapse" aria-labelledby="headingOne" data-parent="#settings-options">
						<div class="card-body">
							{{ f.row( form, 'timezone' ) }}
							{{ f.row( form, 'session_name' ) }}
							{{ f.row( form, 'is_debug' ) }}
							{{ f.row( form, 'template' ) }}
							{{ f.row( form, 'use_cache' ) }}
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row text-right mt-20 mb-20">
				<div class="col-sm-12 field-container">
					<button class="btn">Enviar</button>
				</div>
			</div>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{{ asset('js/select2.full.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/orange.form.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/sgb.js') }}"></script>
</body>
</html>