//DATABASE
define('DB_HOST', '{{ db_host }}');
define('DB_USER', '{{ db_user }}');
define('DB_PASS', '{{ db_pass }}');
define('DB_DATABASE', '{{ db_database }}');

define('DB_CHARSET', 'utf8');

//DATE
{% if timezone == '' %}//{% endif %}date_default_timezone_set('{{ timezone }}');

//MAIL
define('ADMIN_MAIL', '{{ admin_email }}');
define('NO_REPLY_MAIL', '{{ no_reply_mail }}');
define('NO_REPLY_MAIL_NAME', '{{ no_reply_mail_name }}');

//SITE URL
define('SITE_URL', '{{ url_site }}');

//MODULES
{{ modules|raw }}

//DIRS
define('O_SRCS','{{ dir_srcs }}/');
define('O_LIBRARIES','o_libraries/');

//SESSION NAME
define('SESSION_NAME', '{{ session_name }}');

//DEBUG
define('IS_DEBUG', {% if is_debug == 1 %}true{% else %}false{% endif %});

//TEMPLATE
$template = '{{ template }}';

//CACHE
define('USE_CACHE', {% if use_cache == 1 %}true{% else %}false{% endif %});