/**
 * @version 1.0
 * @author @sgb004
 */
.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

/* */
.accordion .card-body .form-group:last-child {
	margin-bottom: 0;
}

.card-header {
	padding: 0;
}

.card-header > .btn {
	width: 100%;
	text-align: left;
	padding: .75rem 1.25rem;
}

/* FORMS */
.field-notices {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.field-notices li {
	position: relative;
	padding: .375rem .75rem;
	margin-bottom: 0;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.field-notices li.danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

/* field-choise-rachek */
.field-choise-rachek-children {
	display: inline-block;
}

.field-choise-rachek {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}

.field-choise-rachek input {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	z-index: -1;
	opacity: 0;
}

.field-choise-rachek label {
	cursor: pointer;
	padding-left: 21px;
	font-weight: normal;
}

.field-choise-rachek .rachek-icons:before {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	border: 2px solid #d6d6d6;
	top: 4px;
	left: 0;
	bottom: 0;
	background: #fff;
}

.field-choise-rachek input[type="radio"] ~ .rachek-icons:before {
	border-radius: 100%;
}

.field-choise-rachek input[type="checkbox"] ~ .rachek-icons:before {
	border-radius: 3px;
}

.field-choise-rachek input[type="radio"] ~ .rachek-icons:after {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	background: #fff;
	position: absolute;
	top: 7px;
	left: 5px;
	border-radius: 100%;
	transition: background 1s;
}

.field-choise-rachek input[type="checkbox"] ~ .rachek-icons:after {
	content: '\e033';
	color: transparent;
	font-family: 'Icons';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	position: absolute;
	top: 1px;
	left: 4px;
	text-shadow: 1px 1px transparent;
	transition: color 1s, text-shadow 1s;
}

.field-choise-rachek input[type="radio"]:checked ~ .rachek-icons:after {
	background: #09b6a5;
}

.field-choise-rachek input[type="checkbox"]:checked ~ .rachek-icons:after {
	color: #09b6a5;
	text-shadow: 1px 1px #fff;
}

.field-choise-rachek input:focus ~ .rachek-icons:before {
	border-color: #66afe9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

/* */
.form-group .select2-container{
	width: 100% !important;
}

.select2-container--default .select2-selection--single {
	font-size: 1rem;
	line-height: 1.5;
	padding: .375rem .75rem;
	color: #495057;
	height: auto;
	border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: inherit;
	line-height: 1.5;
	padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 0;
	bottom: 0;
	margin: auto;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 1px solid #ced4da;
	padding: .375rem 7px;
}

.select2-results__option{
	padding: .375rem 12px;
}
